html {
    font-size: 16px;
}

body {
    background-color: rgb(154, 158, 152);
}

/* Formatting of page header using id */
#pageHeader {
    background-color: #555;
    color: whitesmoke;
    font-size: 5rem;
    font-weight: 700;

    /* Box model property updates for the header */
    margin: 2.5rem 1rem;
    border: 1rem solid black;
    width: 100%;
    display: block;
}

article {
    display: block;
    width: 80%;
    float: left;
}

aside {
    display: block;
    width: 20%;
    float: right;
}

/* Formatting of visited park blocks using class*/
.park {
    background-color: #333;
    color: whitesmoke;
    font-size: 1.5rem;
    width: 30%;
    display: inline-block;
    border: 0.5rem solid rgb(154, 158, 152);
}


/* CSS selectors for styling img, h1, h2, and p elements */
img {
    max-width: 90%;
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #555;
  
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: block;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    display: block;
}

p {
    font-size: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* CSS Selector for link colors*/
a:hover {
    color:maroon;
}
