html {
    font-size: 16px;
}

body {
    background-color: rgb(154, 158, 152);
    display: grid;
    grid-template-columns: 80% 20%;
}

/* Formatting of page header using id */
#pageHeader {
    background-color: #555;
    color: whitesmoke;
    font-size: 5rem;
    font-weight: 700;

    margin: 2.5rem 1rem;
    border: 1rem solid black;
    grid-column: 1 / -1;
    display: block;
}

article {
    grid-column: 1;
}

aside {
    grid-column: 2;
}

footer {
    grid-column: 1 / -1;
    display: block;
}

/* Formatting of visited park blocks using class*/
.park {
    background-color: black;
    color: whitesmoke;
    font-size: 2.5rem;
    width: 30%;
    display: inline-block;
}

img {
    max-width: 90%;
    height: auto;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #555;
  
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: block;
}

h2 {
    font-size: 2rem;
    font-weight: 200;
    display: block;
}

p {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

a:link {
    color:blue;
}
a:hover {
    color:maroon;
}
